.footer{
    margin: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 15px;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-email-input{
    display: flex;
    gap: 10px;
    padding: 15px 30px;
    border-radius: 50px;
    background: #14456e57;
    padding-right: 40px;
}
.footer-top-right{
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}


.sicon{
    padding: 10px;
 
}
.sicon img{
    opacity: 5.3;
    
}
.sicon img:hover{
    opacity: 0.4;
}

.lnicon{
    display: flex;
    justify-content: space-between;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.footer-bottom-right{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px){
    .footer{
        margin: 50px 10px;
    }
    .footer-top{
        flex-direction: column;
        gap: 20px;
    }
    .footer-top-left p{
        font-size: 15px;
        max-width: 400px;
        padding: 30px;
    }
    .footer-bottom-left{
        font-size: 10px;
    }
    .footer-bottom-right p{
        font-size: 8px;    
    }
    .footer-top-right{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .footer-subscribe{
        font-size: 12px;
        padding: 21px 50px;
        border-radius: 50px;
        background: linear-gradient(359deg, #14456e57 0.6%, #00000054 80.06%);
        cursor: pointer;
        transition: 0.3s;
    }
    .footer-top-right{
        padding: 10px;
        align-items: center;
       padding-left: 100px;
       padding-right: 100px;
    }
    .sicon{
        padding: 0px;
    }
    
}